<a href="https://colab.research.google.com/github/jzhu137/BTE320/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

JULIA ZHU

Cylinder Area:

In [ ]:
R = float(input("Enter the radius: "))
H = float(input("Enter the height: "))
SA = 2*3.14*R**2 + 2*3.14*R*H
print(f'Surface Area: {SA} sq.ft')

Enter the radius: 8
Enter the height: 7
Surface Area: 753.6 sq.ft

Calculator:

In [ ]:
x1 = float(input('Please enter a number: '))
symbol = input('Please enter a symbol: ')
x3 = float(input('Please enter another number: '))

if symbol == '+':
  print(x1 + x3)
elif symbol == '-':
  print(x1 - x3)
elif symbol == '%':
  print(x1%x3)
elif symbol == '/':
  print(x1/x3)
elif symbol == '//':
  print(x1//x3)
elif symbol == '**':
  print(x1**x3)
elif symbol == '*':
  print(x1*x3)
else:
  print('N/A')

total = (x1, symbol, x3)
print(f'Total value: {total}')

Please enter a number: 6
Please enter a symbol: O
Please enter another number: 9
N/A
Total value: (6.0, 'O', 9.0)

Parking Garage:

In [ ]:
for numberHours in range (1,9):
  fee = 5 + 2.5*numberHours
  if fee < 10:
    fee = 10
  elif fee > 20:
    fee = 20
  print(f'Hour {numberHours} fee: ${fee}')

Hour 1 fee: $10
Hour 2 fee: $10.0
Hour 3 fee: $12.5
Hour 4 fee: $15.0
Hour 5 fee: $17.5
Hour 6 fee: $20.0
Hour 7 fee: $20
Hour 8 fee: $20

Movie Theater

In [ ]:
for adMoney in range(0,201,25):
  p = round(2*(adMoney**0.5))
  print(adMoney, (p*10+200)-200- adMoney)

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

In [ ]:
for adMoney in range(0,201,25):
  revenue = ( 20 + 2*round(adMoney**0.5))*10
  costs = 200 + adMoney
  profit = revenue - costs
  print(adMoney, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

Rock-Paper-Scissor

In [ ]:
import random
x = input('Would you like to play (yes/no)? ')
while x == 'yes':

  z = input('Player, choose rock/paper/scissors: ').capitalize()
  y = random.choice (['rock', 'paper', 'scissors']).capitalize()

  print( f'Player choose {z}; Computer choose {y}')

  if z == y:
    print('Tie')
  elif ( z == 'rock' and y == 'scissors') or (z == 'scissors' and y == 'paper') or (z == 'paper' and y == 'rock'):
    print('Player wins')
  else:
    print('Computer wins')
  x = input('Would you like to play again (yes/no)? ')

print('Thank you!')

Would you like to play (yes/no)? yes
Player, choose rock/paper/scissors: rock
Player choose Rock; Computer choose Paper
Computer wins

List sorter

In [ ]:
x = []
num = float(input('Enter a number: '))
while num != 0.0:
  x.append(num) #puts number in the list
  num = float(input('Enter a number: '))
x.sort(reverse=True)
print(x)

Enter a number: 5
Enter a number: 6
Enter a number: 7
Enter a number: 0
[7.0, 6.0, 5.0]

or

In [ ]:
x = []
while True:
  num = float(input('Enter a number: '))
  if num == 0.0:
    break
  x.append(num) #puts number in the list
x.sort(reverse=True)
print(x)

Enter a number: 7
Enter a number: 9
Enter a number: 8
Enter a number: 5
Enter a number: 0
[9.0, 8.0, 7.0, 5.0]

In [ ]:
months = {}
names = ["Jan", "Feb", "Mar", "Apr",'May', "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for x in range(len(names)):
  months[names[x]] = numbers[x]

print(months)

{'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6, 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

or

In [ ]:
months = {}
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for num in numbers:
  months[num] = names[num - 1]
print(months)

{1: 'Jan', 2: 'Feb', 3: 'Mar', 4: 'Apr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Aug', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dec'}

Dictonary

In [ ]:
num = {}
while(len(num)) < 5:
  key = input('Give a string: ')

  if key not in num:
    num[key] = 1
  else:
    num[key] += 1
num

Give a string: a
Give a string: b
Give a string: a
Give a string: c
Give a string: c
Give a string: a
Give a string: d
Give a string: d
Give a string: e

{'a': 3, 'b': 1, 'c': 2, 'd': 2, 'e': 1}

Parking Garage calcFee function

In [ ]:
def calcFee(hours):
  fee = 5 + 2.5*hours
  if fee < 10.0:
    fee = 10.0
  elif fee >= 20.0:
    fee = 20.0
  print(f'Fee: ${fee}')

def main():
  numHours = int(input('Enter number of hours: '))
  calcFee(numHours)
if __name__ == '__main__':
  main()

Enter number of hours: 5
Fee: $17.5

Reverse function

In [ ]:
def reverse(s):
  if len(s) <= 1:
    return s
  else:
    return s[-1]+ reverse(s[:-1])
reverse('Hello')

'olleH'

Error text

In [ ]:
def calcFee(hours):
  fee = 5 + 2.5*hours
  if fee < 10.0:
    fee = 10.0
  elif fee >= 20.0:
    fee = 20.0
  print(f'Fee: ${fee}')

def main():
  try:
    numHours = int(input('Enter number of hours: '))
    calcFee(numHours)
  except ValueError:
    print('Cannot cast to int().')
  except:
    print('Unknown error.')

if __name__ == '__main__':
  main()

Enter number of hours: 5.4
Cannot cast to int().

In [ ]:

def getValues(n):
    L = []
    for i in range(n):
      value = float(input("Enter weight: "))
      L.append(value)
    return L

def calcAverage(alist):
  try:
    print (f'The average weight is {sum(alist[2:])/len(alist[2:])} lbs')
  except ZeroDivisionError:
    print('List alist is empty')
if __name__ == "__main__":
  try:
    n = int(input("Enter the number of weights: "))
    alist = getValues(n)
    calcAverage(alist)
  except ValueError:
    print('Cannot cast to int().')
  except:
    print('Unknown error.')

Enter the number of weights:
Cannot cast to int().

In [ ]:
def f(x,y):
  try:
    z = x + y
    w = x/y
    print(z,w)
  except ZeroDivisionError:
    print('Division by zero not allowed')
  except TypeError:
    print('Incompatible types')
  else:
    print('All operations complete.')

f(2,0)

Division by zero not allowed

Greeting Class

In [ ]:
class Greeting():
  def __init__(self,first,last):
    self.first = first
    self.last = last

  def display(self, formal=False):
    if formal == True:
      print(f'Hello {self.first} {self.last}')
    else:
      print(f'Hi {self.first}')
  def __str__(self):
    return f'{self.first} {self.last}'
  def __repr__(self):
    return f'{self.first} {self.last}'
greeting = Greeting("Donald", "Becker")
print(greeting)
greeting.display()

Donald Becker
Hi Donald

Student Class

In [ ]:
class Student:
  def __init__(self,name,number,cources):
    self.name=name
    self.number=number
    self.cources=[]
  def enroll(self,course):
    if course in self.cources:
      print("You have lready enrolled in ",course)
    else:
      self.cources.append(course)
  def get_cources(self):
    return self.cources


s1=Student("James",666, "BTE320")
s1.name,s1.number



s1.enroll("BTE320")
s1.enroll("BTE400")
s1.enroll("BTE320")
s1.get_cources()

You have lready enrolled in  BTE320

['BTE320', 'BTE400']

Point Class

In [5]:
import math

class Point:
  def __init__(self,x,y):
    self.x = x
    self.y = y
  def distance(self, other):
    return math.sqrt((self.x - other.x) **2 + (self.y - other.y) **2)

In [7]:
class Rectangle:
  def __init__(self):
    self.c1 = Point(0,0)
    self.c2 = Point(0,2)
    self.c3 = Point(2,0)
    self.c4 = Point(2,2)

  def calculate_width(self):
    return self.c1.distance(self.c2)

  def calculate_length(self):
    return self.c1.distance(self.c3)

  def area(self):
    return f'Area = {self.calculate_width() * self.calculate_length()} sq. ft'
square = Rectangle()
square.area()

'Area = 4.0 sq. ft'